.data-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 28vw;
    height: 100vh;
    padding: 8px;
    text-align: left;
    overflow-y: scroll;
}

.data-container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}